@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scroll on the main body, we handle it internally */
}

/* Custom Scrollbar for the sleek look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f0fdf4; 
}
::-webkit-scrollbar-thumb {
  background: #86efac; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981; 
}