@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scroll on the main body, we handle it internally */
}

/* Custom Scrollbar for the sleek look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #171717; 
}
::-webkit-scrollbar-thumb {
  background: #404040; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f97316; 
}